body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light grey background */
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto; /* Added some margin */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 10px; /* Added some spacing between columns */
}
.column3{
    flex: 1;  /* Bu, her sütunun eşit genişlikte olmasını sağlar */
    padding: 20px;
}

.schematic {
    background-color: #f0f0f0; /* Lighter grey background */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    margin-bottom: 20px;
    
}

#schematic1 .circuit-image, 
#schematic2 .circuit-image{
    max-width: 100%;
    height: 320px; /* Yükseklik değeri */
}

#schematic3 .circuit-image {
    max-width: 100%;
    height: 220px; 
}
#schematic4 {
    max-width: 80%;
    height: 500px; /* Yükseklik değeri */
    padding-left: 50px;
    
}
#schematic4 .circuit-image{
    max-width: 90%;
    height: 400px; /* Yükseklik değeri */
  
}

.title {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #333; /* Dark grey text color */
}

.circuit-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 5px; /* Slight border radius */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555; /* Dark grey label color */
    padding-right: 50px;
    padding-left: 50px;
}

.simulator-link {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 18px;
    padding: 10px 20px; /* Linklerin iç boşluğu */
    border-radius: 5px; /* Köşeleri yuvarlak yap */
    transition: background-color 0.3s ease, color 0.3s ease; /* Geçiş efekti */
    margin: 0 20px; /* Linkler arasındaki boşluk */
}

.simulator-link:hover {
    background-color: #ecf0f1; /* Hover olduğunda arka plan rengi */
    color: #860000; /* Hover olduğunda yazı rengi */
}


.input-section input[type="number"] {
    width: 200px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slight border radius */
    align-items: center;
}

.input-section button {
    background-color: #007bff; /* Blue button background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Slight border radius */
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease; /* Smooth transition */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.input-section button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.result {
    text-align: center;
    padding-left: 120px;
    width: 90%;
}
.result-text-genel{
    text-align: center;
}
.subtitle {
    margin-top: 0;
    font-size: 18px;
    color: #333; /* Dark grey subtitle color */
    align-items: center;
}

.result-text {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    resize: vertical;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Slight border radius */
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    overflow: auto;
    color: black; 
}

.plot-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

.plot-canvas { 
    width: 100%;
    height: 300px;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Slight border radius */
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    color: #666; /* Grey axis label color */
}

.plot-title {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: #333; /* Dark grey plot title color */
}

.x-label {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.y-label {
    top: 50%;
    transform: rotate(-90deg);
    left: -45px;
    color: #666; /* Grey axis label color */
}
